{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<!-- ================================
Start Footer
================================= -->

<footer class='footer'>
    <div class="footerCol ">
    <div class="container ">
        <ul class="socialCol">
        <li><a href="https://www.pythonpower.in/"><img src="{% static '' %}" class="fab fa-python fa-4x" alt="" ></a></li>
        <li><a href="https://www.youtube.com/channel/UCuOmjfzltjmLCUN4nOQeduA"><img src="{% static '' %}" class="fab fa-youtube fa-4x" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/arun-panwar-0738711b7"><img src="{% static '' %}" class="fab fa-linkedin fa-4x" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        
        <p >Copyright ©{% now 'Y' %} All rights reserved. Designed by Arun Panwar <a href="https://arunpanwars.netlify.app" target="_blank" > <button onclick="functionToExecute()" class= 'btn-primary'><b>Visit my Restaurant Website</button> </a></p>
        </div>
        
        
        </footer>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->